<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/stocks/addStocks" method="post">
        <label for="userName">Username</label>
        <input type="text" name="userName" id="userName">
        <label for="userProduct">Stock out product</label>
        <input type="text" name="userProduct" id="userProduct">
        <label for="dateOfStockOut">Date of Stock Out</label>
        <input type="date" name="dateOfStockOut" id="dateOfStockOut">
        <label for="expectedDateOfReturn">Expected Date of Return</label>
        <input type="date" name="expectedDateOfReturn" id="expectedDateOfReturn">
      <button type="submit">Add Stocks Out</button>
    </form>
</body>
</html>