<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/showproduct/<%=datas._id%>/edit?_method=put" method="post">
        <label for="productModel">Product Model</label>
        <input type="text" name="productModel" id="productModel" value="<%=datas.productModel%> ">
        <label for="productType">Product Type</label>
        <input type="text" name="productType" value="<%=datas.productType %> ">
        <label for="productSerialNumber">Serial NUumber</label>
        <input type="text" name="productSerialNumber" id="productSerialNumber" value="<%=datas.productSerialNumber %> ">
        <button>Edit Product</button>
    </form>
    
</body>
</html>